body{
    background-color: rgb(0, 255, 170);
    text-align: center;
}
h1{
    color: #1a941a;
}
p{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}